#box {display:block; width:100%; line-height:normal; letter-spacing:1px;
      font-family: times new roman, serif; font-size:16px; color:#000;
      border:1px solid #ddd; padding:5px; margin:0em auto;}

#cap {font-size:50px; color:#f60; font-weight:bold; float:left; height:34px;
      line-height:34px; margin-top:2px; margin-right:1px;}

* {
  font-family: Arial;
  font-size: 10pt;
  }

.small {
  font-size:0.9em;
}

.smaller {
  font-size:0.8em;
}

div {
  padding:0;
  margin:0;
  /*border:1px solid red;*/
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


#outer {
	width:1100px;
	overflow:auto;
	height:auto;
}

#main {
	float:right;
	width:805px; 
	border:2px solid gray;
}

#directories {
	float:left;
	width:800px; 
	max-height:500px;
	overflow:auto; 
	border:1px solid green;
}

.dir_row {
	 float:left;
	 clear:both;
}

.toplink {
	border:3px solid orange;
	float:left;
	clear:both
}

#files {
	float:left;
	width:800px; 
	max-height:500px;
	overflow:auto; 
	border:1px solid blue;
}

.file_row {
	float:left;
	clear:both;
}


.file_save, .file_play {
	float:left;
	width:25px
}


.file_name {
	float:left;
	width:500px;
}

.file_length {
	float:left;
	width:80px
}

.file_bitrate {
	float:left;
	width:100px;
}

#files_toolbar {
	float:left;
	width:800px; 
	max-height:50px; 
	border:1px solid red;
}

.toolbar_item {
	float:left;
	margin-right:20px;
}

.toolbar_item div{
	width:50px;
	clear:both;
	text-align:center;
}

#debugpre {
	float:left;
	clear:both;
}

#album_dirs {
	float:left;
	width:800px; 
	max-height:300px;
	overflow:auto; 
	border:1px solid pink;
}


#bio {
	float:left;
	width:800px; 
	max-height:400px;
	overflow:auto; 
	border:1px solid orange;
}


#datacontainer {
	float:left;
	width:250px;
	border:5px solid #aaa;
}

#folder_images {
	float:left;
	width:100%; 
	max-height:250px;
	overflow:auto; 
	border:1px solid skyblue;
}


#artist_info {
	float:left;
	width:100%; 
	max-height:850px;
	overflow:auto; 
	border:1px solid lightgreen;
}
