#box {display:block; width:100%; line-height:normal; letter-spacing:1px;
      font-family: times new roman, serif; font-size:16px; color:#000;
      border:1px solid #ddd; padding:5px; margin:0em auto;}

#cap {font-size:50px; color:#f60; font-weight:bold; float:left; height:34px;
      line-height:34px; margin-top:2px; margin-right:1px;}

* {
  font-family: Arial;
  font-size: 10pt;
  box-sizing: border-box;
}

.small {
  font-size:0.9em;
}

.smaller {
  font-size:0.8em;
}

div {
  padding:0;
  margin:0;
  /*border:1px solid red;*/
}

a {
  text-decoration: none;
  color:#eee;
}

a:hover {
  text-decoration: underline;
  color:white;
}


body {
	background-color:#121314;
	color:white;
}



#curdir {
	width:100%;
	min-height:30px;
	padding:5px;
	overflow:auto; 
	background-color:#222326;
	margin-top:10px;
	margin-bottom:10px;

}

#directories {
	width:100%;
	max-height:500px;
	overflow:auto; 
	border-bottom:2px solid #222326;
}

.dir_row {
	 float:left;
	 clear:both;
}

.toplink {
	float:left;
	clear:both;
	margin-bottom:10px;
}

#files {
	width:100%;
	max-height:500px;
	overflow:auto; 
	margin-top:10px;
}

.file_row {
	float:left;
	clear:both;
}


.file_save, .file_play {
	float:left;
}


.file_name {
	float:left;
	width:500px;
}

.file_length {
	float:left;
	width:80px
}

.file_bitrate {
	float:left;
	width:100px;
}

.bitrate_vbr {
	background-color:#8DCAA1;
	color:black;
}
.bitrate_1 {
	background-color:#664242;
	color:#eee;
}
.bitrate_2 {
	background-color:#5BBDFF;
	color:black;
}
.bitrate_3 {
	background-color:lightgreen;
	color:black;
}
.bitrate_4 {
	background-color:orange;
	color:black;
}
.bitrate_5 {
	background-color:pink;
	color:black;
}


#files_toolbar {
	width:100%;
	margin-top:20px;
	overflow:auto;
	background:#222326;
	padding:5px;
	border-radius:3px;
}

.toolbar_item {
	float:left;
	margin-right:20px;
}

.toolbar_item div{
	width:50px;
	clear:both;
	text-align:center;
}

#debugpre {
	float:left;
	clear:both;
}

#album_dirs {
	float:left;
	width:800px; 
	max-height:300px;
	overflow:auto; 
	border:1px solid pink;
}

#album_images {
	width:100%;
	margin-top:20px;
	overflow:auto;
}

#album_images 	.th_album {
	float:left;
	margin-left:15px;
}

.th_albumtitle {
	min-height:70px;
	overflow:hidden;
	color:#fff;
	background-color:#222326;
	width:100px;
	width:100px;
	padding:5px;
}

.th_albumimgcontainer {
	height:100px;
	width:100px;
}


.th_albumimg {
	width:100px;
	height:100px;
}



#bio {
	max-height:400px;
	background-color:#222326;
}

.contentbox {
	background-color:#222326;
	padding-bottom:15px;
}

.content_boxtitle {
	color:#d3d3d3;
	margin-top:10px;
	font-variant:small-caps;
	margin-bottom:10px;
	overflow:auto;
	height:30px;
}

.content_boxtitle span{
	border-bottom:2px solid #84bd00;
	font-size:17px;
	font-family:'Trebuchet' ,'Helvetica Neue',Helvetica,Arial,sans-serif;
}

#folder_images {
	height:320px;
}

#folder_images img{
	height:230px;
	max-width:240px;
}

#artistinfo {
	max-height:850px;
}


.icon-play {
	color:rgb(124, 192, 255);
	margin-right:5px;
}

.icon-download {
	color:rgb(255, 102, 102);
	margin-right:5px;
}

.icon-home {
	color:#84BD00;
}

.icon-folder {
	color:#84BD00;
	margin-right:10px;
}

.icon-generic,
.icon-image {
	color:#B2C525;
	margin-right:5px;
}
